<!DOCTYPE html>
<html>
<head>
  <title>Hello World</title>
</head>
<body>
  
  <div id="test"></div>

  <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <script src="../static/js/test.jsx" type="text/babel"></script>

</body>
</html>
